# Ignore Terraform directories and files
.terraform/
terraform/key
terraform/key.pub
*.tfstate
*.tfstate.*
*.tfvars

# Ignore local .terraform directories
**/.terraform/*

# Ignore macOS and IDE-specific files
.DS_Store
.vscode/
.idea/

# Ignore Terraform lock file
terraform.lock.hcl
